/* login.component.css */

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  button[type="submit"],
  button.google-sign-in-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover,
  button.google-sign-in-button:hover {
    background-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .or-separator {
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
    color: #333;
  }
  
  .signup-link {
    text-align: center;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }

  .captcha {
	background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    color: #4c4a4b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}
.loginform {
    position: relative;
    top: -10px;
}

@media screen and (max-width: 500px) {
	.captcha {
		width: 100%;
		margin-bottom: 0;
		margin-top: 34px !important;
	}
	.captcha .text {
		margin:.5em!important;
		text-align:center;
		font-size: 10px !important;
	}
	.captcha .logo {
		align-self: center!important;
		width: auto !important;
	}
	.captcha .spinner {
		margin:0px 10px !important;
	}
}

.captcha .text {
	font-size: 15px;
    font-weight: 500;
    margin-right: 1em;
}
.captcha .spinner {
    position: relative;
    width: 2em;
    height: 2em;
    display: flex;
    margin: 1em 1em;
    align-items: center;
    justify-content: center;
}
.captcha input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
.captcha input[type="checkbox"]+.checkmark {
	display:inline-block;
	width:30px;
	height:30px;
	background-color:#fcfcfc;
	border:2.5px solid #c3c3c3;
	border-radius:3px;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor: pointer;
}
.captcha input[type="checkbox"]+.checkmark span {
	content:'';
	position:relative;/*
	position:absolute;
	border-bottom:3px solid;
	border-right:3px solid;
	border-color:#029f56;*/
	margin-top:-3px;
	transform:rotate(45deg);
	width:.75em;
	height:1.2em;
	opacity:0;
}
.captcha input[type="checkbox"]+.checkmark>span:after {
	content:'';
	position:absolute;
	display:block;
	height:3px;
	bottom:0;left:0;
	background-color:#029f56;
}
.captcha input[type="checkbox"]+.checkmark>span:before {
	content:'';
	position:absolute;
	display:block;
	width:3px;
	bottom:0;right:0;
	background-color:#029f56;
}
.captcha input[type="checkbox"]:checked+.checkmark { 
	animation:2s spin forwards;
}
.captcha input[type="checkbox"]:checked+.checkmark>span { 
	animation:1s fadein 1.9s forwards;
}
.captcha input[type="checkbox"]:checked+.checkmark>span:after {animation:.3s bottomslide 2s forwards;}
.captcha input[type="checkbox"]:checked+.checkmark>span:before {animation:.5s rightslide 2.2s forwards;}
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes bottomslide {
	0% {width:0;}
	100% {width:100%;}
}
@keyframes rightslide {
	0% {height:0;}
	100% {height:100%;}
}
.captcha .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    align-self: flex-end;
    margin: 5px
}
.captcha .logo img {
	height:2em;
	width:2em;
}
.captcha .logo p {
    color: #9d9ba7;
    margin: 0 !important;
    font-size: 12px;
    font-weight: 700;
}
.captcha .logo small {
	color:#9d9ba7;
	margin:0;
	font-size:.8em;
}
@keyframes spin {
	10% {
		width:0;
		height:0;
		border-width:6px;
	}
	30% {
		width:0;
		height:0;
		border-radius:50%;
		border-width:1em;
		transform: rotate(0deg);
		border-color:rgb(199,218,245);
	}
	50% {
		width:2em;
		height:2em;
		border-radius:50%;
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	70% {
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	90% {
		border-width:4px;
	}
	100% {
		width:2em;
		height:2em;
		border-radius:50%;
		transform: rotate(720deg);
		border-color:transparent;
	}
}
::selection {
	background-color:transparent;
	color:teal;
}
::-moz-selection {
	background-color:transparent;
	color:teal;
}


